<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979433459709-fouoi9cnfi9ahqvur3etp8ah6pkotfop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979433459709-fouoi9cnfi9ahqvur3etp8ah6pkotfop</string>
	<key>API_KEY</key>
	<string>AIzaSyDTEYiRybeZD_1X7p5yB49T08aV0NFQd5o</string>
	<key>GCM_SENDER_ID</key>
	<string>979433459709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.splendauth</string>
	<key>PROJECT_ID</key>
	<string>splend-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>splend-auth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979433459709:ios:4f07075363f5c42e249394</string>
</dict>
</plist>